body {
    height: 100vh;
    position: relative;
    background: linear-gradient(#800000ff, #AA0000ff);
    background-repeat: no-repeat;
    font-family: 'Borel';
}

p {
    font-family: 'Montserrat';
}
.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 10;
  font-style: normal;
}


h1 {
    text-align: center;
    color:white;
    font-size: 40px;
    margin: auto;
    margin: 20px;    
}

.header-container {
    text-align: center; /* Esto centra cualquier inline-block dentro */
    width: 100%;
}

h2 {
    color: white;
}
.title {
    display: inline-block;
  
}

.music-container {
    border: 5px solid rgba(0, 0, 0, 0);
    margin: 1%;
    text-align: center;
    gap: 20px;
    margin-top: 4%;
}

.music-card {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.437);
    height: 80%;
    width: 20%;
    padding: 0;
    text-align: center;
    margin-right: 0.5%;
    background: rgba(170, 0, 0, 0.4);
   backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Soporte para Safari */
    overflow: hidden;
    /* 3. Bordes y sombras para dar profundidad */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    font-size: 15px;
    
}


.card-image {
    width: 100%;
    height: 80%; /* Ajusta según prefieras el 80% del alto inicial */

}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Hace que la imagen llene el espacio sin deformarse */
    display: block; /* Quita el espacio extra debajo de las imágenes */
    margin-bottom: 0px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    color: white;
    height: 20%;
}

/* --- LÓGICA DEL HOVER --- */

.expand-text {
    max-height: 0; /* Oculto por defecto */
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    margin-top: 0;
    font-size: 0.9rem;
    line-height: 1.4;
    overflow-y: auto;
}

.music-card:hover {
    transform: translateY(-10px); /* Pequeño salto hacia arriba */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.music-card:hover .expand-text {
    max-height: 100px; /* Un valor lo suficientemente grande para el texto */
    opacity: 1;
    margin-top: 10px;
}
